In [1]:
a = [1, 2, 3]
a

[1, 2, 3]