In [8]:
a = [1, 2, 3]
a.reverse()
a

[3, 2, 1]